

<div class="row">
    <div class="col-md-12 col-md-offset-0">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> @ViewBag.Title </h3>
            </div>
            <div class="panel-body">
                <form role="form" id="frmConciliar" autocomplete="off">
                    <fieldset>

                        <div class="panel panel-default">
                            <div class="panel-footer">Datos Busqueda</div>

                            <div class="panel-body">
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="errorMsgPanel"></div>
                                                    <div class="successMsgPanel"></div>
                                                    @Html.AntiForgeryToken()

                                                    <div class="col-md-1">
                                                        <label for="txtSucursal" class="control-label">Proveedor:</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                         
                                                        @Html.DropDownList("Proveedores",null,new { @class = "form-control" })

                                                    </div>

                                                    <div class="col-md-6">
                                                        <button type="button" id="btnBuscar" name="btnBuscar" class="btn btn-outline btn-primary">Buscar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <iframe id="idFrame" frameborder="0" style="height:1400px; width: 100%;" scrolling="yes"></iframe>

                        <div class="loadingDiv" style="width: 100%;">
                            <img src="@Url.Content("~/Content/images/ajax-loader.gif")" />
                            @Html.AntiForgeryToken()
                        </div>
                    </fieldset>
                </form>
                <br />
                <div id="frmListarProcesosISOContent"></div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    @*<script src="~/Scripts/plugins/datepicker/bootstrap-datepicker.js" charset="UTF-8"></script>
        <script src="~/Scripts/plugins/datepicker/bootstrap-datepicker.es.min.js" charset="UTF-8"></script>*@

    @*<script src="~/Scripts/plugins/dataTables/jquery.dataTables.min.js"></script>
        <script src="~/Scripts/plugins/dataTables/dataTables.bootstrap.js"></script>*@

    <script src="~/Views/ConciliarMercaderia/MantConciliarMercaderia.js"></script>
    <script type="text/javascript">
        // Ejecucion de script para vista
        (function () {
            docInit("@Url.Content("~/")");
        })();
    </script>
}

